/*PSEUDO*/
@media screen {
    ::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #d62929;
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        display: webkit-flex;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            background-color: #1f1f1f;
            color: #fff;
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*ALIGN ITEMS*/
@media screen {
    .align-items-center {
        align-items: center;
    }

    .align-items-flex-end {
        align-items: flex-end;
    }
}

/*Blur*/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    [data-backdrop-blur="10px"] {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    [data-backdrop-blur] {
        background-color: rgba(255, 255, 255, 0.75);
    }

    [data-theme="dark"] [data-backdrop-blur] {
        background-color: rgba(0, 0, 0, 0.75);
    }
}

/*Blur*/
/*BACKGROUND COLOR*/
@media screen {
    .background-color-000 {
        background-color: #000;
    }

    .background-color-0072bb {
        background-color: #0072bb;
    }

    .background-color-0096c7 {
        background-color: #0096c7;
    }

    .background-color-1f {
        background-color: #1f1f1f;
    }

    .background-color-2c2c2e {
        background-color: #2c2c2e;
    }

    .background-color-2d {
        background-color: #2d2d2d;
    }

    .background-color-333 {
        background-color: #333;
    }

    .background-color-ccc {
        background-color: #ccc;
    }

    .background-color-d2 {
        background-color: #d2d2d2;
    }

    .background-color-d3d3d1 {
        background-color: #d3d3d1;
    }

    .background-color-e0 {
        background-color: #e0e0e0;
    }

    .background-color-fff {
        background-color: #fff;
    }

    .background-color-ffffff99 {
        background-color: #ffffff99;
    }

    .background-color-ebebf508 {
        background-color: #ebebf508;
    }

    .background-color-ebebf529 {
        background-color: #ebebf529;
    }

    .background-none {
        background: none;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] .-dark-background-color-1f {
            background-color: #1f1f1f;
        }

        body[data-theme="system"] .-dark-background-color-2c2c2e {
            background-color: #2c2c2e;
        }

        @media (max-width: 768px) {
            body[data-theme="system"] .-dark-tablet-background-color-2e {
                background-color: #2e2e2e;
            }

            body[data-theme="system"] .-dark-tablet-background-color-2c2c2e {
                background-color: #2e2e2e;
            }
        }
    }

    @media {
        .-thumb-background-color-fff::-webkit-slider-thumb {
            background: #fff;
        }
    }
}

/*BORDER*/
@media screen {
    .border-bottom-1px-solid {
        border-bottom: 1px solid;
    }

    .border-top-1px-solid {
        border-top: 1px solid;
    }
}

/*BORDER COLOR*/
@media screen {
    .border-color-777 {
        border-color: #777;
    }

    .border-color-ffffff1a {
        border-color: #ffffff1a;
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-2px {
        border-radius: 2px;
    }
    
    .border-radius-5px {
        border-radius: 5px;
    }

    .border-radius-50pct {
        border-radius: 50%;
    }
}

/*BOTTOM*/
@media screen {
    .bottom-0 {
        bottom: 0;
    }
}

/*COLOR*/
@media screen {
    .color-000 {
        color: #000;
    }
    
    .color-b3 {
        color: #b3b3b3;
    }
}

/*DISPLAY*/
@media screen {
    .display-flex, .flex {
        display: flex;
        display: -webkit-flex;
    }

    .display-grid {
        display: grid;
    }
    
    .display-inline-flex {
        display: inline-flex;
        display: -webkit-inline-flex;
    }

    .display-none {
        display: none;
    }

    @media (max-width: 768px) {
        .-tablet-display-flex {
            display: flex;
        }

        .-tablet-display-none {
            display: none;
        }
    }
}

/*FLEX*/
@media screen {
    .flex-1 {
        flex: 1;
    }

    .flex-1-1-1px {
        flex: 1 1 1px;
    }
}

/*FLEX WRAP*/
@media screen {
    .flex-direction-column {
        flex-direction: column;
    }
}

/*FLEX WRAP*/
@media screen {
    .flex-wrap-wrap {
        flex-wrap: wrap;
    }
}

/*FILTER*/
@media screen {
    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] .-dark-filter-invert-1 {
            filter: invert(1);
        }
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-0 {
        font-size: 0;
    }

    .font-size-9px {
        font-size: 9px;
    }

    .font-size-11px {
        font-size: 11px;
    }

    .font-size-12px {
        font-size: 12px;
    }

    .font-size-13px {
        font-size: 13px;
    }

    .font-size-14px {
        font-size: 14px;
    }

    .font-size-16px {
        font-size: 16px;
    }

    .font-size-17px {
        font-size: 17px;
    }

    .font-size-18px {
        font-size: 18px;
    }

    .font-size-24px {
        font-size: 24px;
    }

    .font-size-72px {
        font-size: 72px;
    }
}

/*FONT WEIGHT*/
@media screen {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

/*GRID*/
@media screen {
    [data-grid-template-columns="[index] 16px [first] 4fr [last] minmax(120px,1fr)"] {
        grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px,1fr);
    }
}

/*HEIGHT*/
@media screen {
    [data-height="calc(100% - 50px)"] {
        height: calc(100% - 50px);
    }

    .height-5px {
        height: 5px;
    }

    .height-16px {
        height: 16px;
    }

    .height-20px, [data-height="20px"] {
        height: 20px;
    }

    .height-50px {
        height: 50px;
    }

    .height-240px {
        height: 240px;
    }

    @media (max-width: 768px) {
        .-tablet-height-100pct, [data-tablet-height="100%"] {
            height: 100%;
        }
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-flex-end {
        justify-content: flex-end;
    }

    .justify-content-space-around {
        justify-content: space-around;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*LINE HEIGHT*/
@media screen {
    .line-height-16px {
        line-height: 16px;
    }
    
    .line-height-24px {
        line-height: 24px;
    }
    
    .line-height-36px {
        line-height: 36px;
    }
    
    .line-height-50px {
        line-height: 50px;
    }
}

/*MARGIN*/
@media screen {
    .margin-10px {
        margin: 10px;
    }

    .margin-auto {
        margin: auto;
    }

    .margin-bottom-5px {
        margin-bottom: 5px;
    }

    .margin-bottom-16px {
        margin-bottom: 16px;
    }

    .margin-bottom-20px {
        margin-bottom: 20px;
    }

    .margin-left-auto {
        margin-left: auto;
    }

    .margin-left-20px {
        margin-left: 20px;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .margin-right-20px {
        margin-right: 20px;
    }

    .margin-right-24px {
        margin-right: 24px;
    }

    .margin-right-30px {
        margin-right: 30px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }

    .margin-top-auto {
        margin-top: auto;
    }

    @media (max-width: 768px) {
        .-tablet-margin-left-10px {
            margin-left: 10px;
        }

        .-tablet-margin-right-10px {
            margin-right: 10px;
        }
    }

    @media (max-width: 480px) {
        .-mobile-margin-left-10px {
            margin-left: 10px;
        }

        .-mobile-margin-right-10px {
            margin-right: 10px;
        }
    }
}

/*MIN HEIGHT*/
@media screen {
    .min-height-340px {
        min-height: 340px;
    }
}

/*ORDER*/
@media screen {
    @media (max-width: 768px) {
        .-tablet-order-3 {
            order: 3;
        }
    }
}

/*OVERFLOW*/
@media screen {
    .overflow-hidden {
        overflow: hidden;
    }

    .overflow-x-hidden {
        overflow-x: hidden;
    }

    .overflow-y-hidden {
        overflow-y: hidden;
    }
}

/*PADDING*/
@media screen {
    .padding-20px {
        padding: 20px;
    }

    .padding-30px {
        padding: 30px;
    }

    .padding-bottom-24px {
        padding-bottom: 24px;
    }

    .padding-bottom-30px {
        padding-bottom: 30px;
    }

    .padding-bottom-130px {
        padding-bottom: 130px;
    }

    .padding-left-10px {
        padding-left: 10px;
    }

    .padding-right-10px {
        padding-right: 10px;
    }

    .padding-bottom-10px {
        padding-bottom: 10px;
    }

    .padding-bottom-20px {
        padding-bottom: 20px;
    }

    .padding-left-20px {
        padding-left: 20px;
    }

    .padding-right-20px {
        padding-right: 20px;
    }

    .padding-right-30px {
        padding-right: 30px;
    }

    .padding-top-10px {
        padding-top: 10px;
    }

    .padding-top-20px {
        padding-top: 20px;
    }

    .padding-top-30px {
        padding-top: 30px;
    }

    .padding-top-100pct {
        padding-top: 100%;
    }

    .padding-top-50px {
        padding-top: 50px;
    }

    .padding-top-80px {
        padding-top: 80px;
    }

    .padding-top-90px {
        padding-top: 90px;
    }

    .padding-top-100px {
        padding-top: 100px;
    }

    .padding-top-120px {
        padding-top: 120px;
    }

    .padding-left-10px {
        padding-left: 10px;
    }

    .padding-left-30px {
        padding-left: 30px;
    }

    .padding-x-16px {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (max-width: 768px) {
        .-tablet-padding-0 {
            padding: 0;
        }

        .-tablet-padding-bottom-0 {
            padding-bottom: 0;
        }

        .-tablet-padding-left-10px {
            padding-left: 10px;
        }

        .-tablet-padding-right-10px {
            padding-right: 10px;
        }

        .-tablet-padding-top-0 {
            padding-top: 0;
        }

        .-tablet-padding-top-80px {
            padding-top: 80px;
        }
    }
}

/*POSITION*/
@media screen {
    .position-absolute {
        position: absolute;
    }

    .position-fixed {
        position: fixed;
    }

    .position-relative {
        position: relative;
    }

    @media (max-width: 768px) {
        .-tablet-position-fixed {
            position: fixed;
        }
    }
}

/*TEXT ALIGN*/
@media screen {
    .text-align-center {
        text-align: center;
    }
}

/*OVERFLOW*/
@media screen {
    .text-overflow-ellipsis {
        text-overflow: ellipsis;
    }
}

/*TEXT TRANSFORM*/
@media screen {
    .text-transform-uppercase {
        text-transform: uppercase;
    }
}

/*TRANSFORM*/
@media screen {
    @media (max-width: 768px) {
        .-tablet-transform-translateX-minus-100pct {
            transform: translateX(-100%);
        }
    }
}

/*TOP*/
@media screen {
    .top-0 {
        top: 0;
    }
}

/*WHITE-SPACE*/
@media screen {
    .white-space-nowrap {
        white-space: nowrap;
    }
}

/*WIDTH*/
@media screen {
    [data-width="calc((100% - 140px)/6)"] {
        width: calc((100% - 140px)/6);
    }

    .width-100pct {
        width: 100%;
    }

    .width-16px {
        width: 16px;
    }

    .width-20px, [data-width="20px"] {
        width: 20px;
    }

    .width-36px {
        width: 36px;
    }

    .width-50px {
        width: 50px;
    }

    .width-240px {
        width: 240px;
    }

    .width-250px {
        width: 250px;
    }

    @media (max-width: 1600px) {
        [data-uxga-width="calc((100% - 120px)/5)"] {
            width: calc((100% - 120px)/5);
        }
    }

    @media (max-width: 1280px) {
        [data-hd-width="calc((100% - 100px)/4)"] {
            width: calc((100% - 100px)/4);
        }
    }

    @media (max-width: 960px) {
        [data-dw960px-width="calc((100% - 80px)/3)"] {
            width: calc((100% - 80px)/3);
        }
    }

    @media (max-width: 768px) {
        [data-tablet-width="calc((100% - 50px)/4)"] {
            width: calc((100% - 50px)/4);
        }

        .-tablet-width-100pct {
            width: 100%;
        }
    }

    @media (max-width: 640px) {
        [data-vga-width="calc((100% - 40px)/3)"] {
            width: calc((100% - 40px)/3);
        }
    }

    @media (max-width: 480px) {
        [data-mobile-width="calc((100% - 30px)/2.5)"] {
            width: calc((100% - 30px)/2.5);
        }
    }
}

/*Z-INDEX*/
@media screen {
    .z-index-5 {
        z-index: 12345;
    }

    @media (max-width: 768px) {
        .-tablet-z-index-3 {
            z-index: 123;
        }

        .-tablet-z-index-5 {
            z-index: 12345;
        }
    }

    @media (max-width: 480px) {
        .-mobile-z-index-7 {
            z-index: 1234567;
        }
    }
}
