/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        display: webkit-flex;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            color: #fff;
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*ALIGN ITEMS*/
@media screen {
    .align-items-center {
        align-items: center;
    }
}

/*BACKGROUND COLOR*/
@media screen {
    .background-color-1f {
        background-color: #1f1f1f;
    }

    .background-color-2d {
        background-color: #2d2d2d;
    }

    .background-color-333 {
        background-color: #333;
    }

    .background-color-ccc {
        background-color: #ccc;
    }

    .background-color-d2 {
        background-color: #d2d2d2;
    }

    .background-color-d3d3d1 {
        background-color: #d3d3d1;
    }

    .background-color-e0 {
        background-color: #e0e0e0;
    }

    .background-color-fff {
        background-color: #fff;
    }

    .background-color-ebebf508 {
        background-color: #ebebf508;
    }

    .background-color-ebebf529 {
        background-color: #ebebf529;
    }

    .background-none {
        background: none;
    }

    @media (prefers-color-scheme: dark) {
        .-dark-background-color-1f {
            background-color: #1f1f1f;
        }

        .-dark-background-color-2c2c2e {
            background-color: #2c2c2e;
        }
    }
}

/*BORDER RADIUS*/
@media screen {
    .border-radius-5px {
        border-radius: 5px;
    }
}

/*COLOR*/
@media screen {
    .color-b3 {
        color: #b3b3b3;
    }
}

/*BOTTOM*/
@media screen {
    .bottom-0 {
        bottom: 0;
    }
}

/*FLEX*/
@media screen {
    .display-flex, .flex {
        display: flex;
        display: -webkit-flex;
    }

    .flex-1 {
        flex: 1;
    }
}

/*FILTER*/
@media screen {
    @media (prefers-color-scheme: dark) {
        .-dark-filter-invert-1 {
            filter: invert(1);
        }
    }
}

/*FONT SIZE*/
@media screen {
    .font-size-12px {
        font-size: 12px;
    }

    .font-size-13px {
        font-size: 13px;
    }

    .font-size-24px {
        font-size: 24px;
    }
}

/*FONT WEIGHT*/
@media screen {
    .font-weight-bolder {
        font-weight: bolder;
    }
}

/*JUSTIFY CONTENT*/
@media screen {
    .justify-content-center {
        justify-content: center;
    }

    .justify-content-flex-end {
        justify-content: flex-end;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }
}

/*HEIGHT*/
@media screen {
    .height-5px {
        height: 5px;
    }
    
    .height-50px {
        height: 50px;
    }
}

/*LINE HEIGHT*/
@media screen {
    .line-height-50px {
        line-height: 50px;
    }
}

/*MARGIN*/
@media screen {
    .margin-10px {
        margin: 10px;
    }

    .margin-auto {
        margin: auto;
    }

    .margin-left-auto {
        margin-left: auto;
    }
}

/*PADDING*/
@media screen {
    .padding-20px {
        padding: 20px;
    }

    .padding-left-10px {
        padding-left: 10px;
    }

    .padding-right-10px {
        padding-right: 10px;
    }

    .padding-left-20px {
        padding-left: 20px;
    }

    .padding-right-20px {
        padding-right: 20px;
    }
}

/*POSITION*/
@media screen {
    .position-absolute {
        position: absolute;
    }
    
    .position-fixed {
        position: fixed;
    }
    
    .position-relative {
        position: relative;
    }
}

/*TEXT TRANSFORM*/
@media screen {
    .text-transform-uppercase {
        text-transform: uppercase;
    }
}

/*TOP*/
@media screen {
    .top-0 {
        top: 0;
    }
}

/*WIDTH*/
@media screen {
    .width-100pct {
        width: 100%;
    }

    .width-20px, [data-width="20px"] {
        width: 20px;
    }

    .width-50px {
        width: 50px;
    }

    .width-250px {
        width: 250px;
    }
}
